@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    min-width: 0;
}

#sidebar {
    /* width: 70px; */
    min-width: 50px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #062F75;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100vh;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .25s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}


.navbar {
    background-color: #B9C5DC;
    /* box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1); */
    width: 1435px;
    height: 50px;
    
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    height: 40px;
    width: 40px;
}



@media (min-width: 768px) {}




.negative-margin {
    margin: -4px; 
}

.imgkalyanlogo{ 
    width: 19.654px;
height: 29.197px;
flex-shrink: 0;
}

.imgjuelog{
        width: 34px;
    height: 22px;
    flex-shrink: 0;
}

.card{
    height: 80px;
    width: 285px;
}

.small-vline {
    width: 1px;
    height: 48px;
    opacity: 0.75;
background: #DBDFE8;
}
/* .details
{
    width: 1264px;
    height: 80.91px;
} */

.bg-layer{
   
        background-color: #F5F7FB !important;
    }


    .custom-button {
        display: flex;
        width: 140px;
        height: 25px;
        padding: 6px 13px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
    
        border-radius: 4px;
        border: 1px solid #B9C5DC;
    
        opacity: 0.7;
        background: #B9C5DC;
        color: #092353;

        text-align: center;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .custom-button1
    {
    color: #444;

        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: inline-flex;
        padding: 5px 11px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        background: #D6D6D6;
        display: inline-flex;
            padding: 5px 11px;
            justify-content: center;
            align-items: center;
            gap: 10px;
    }

.tcr{
width: 128px;
height: 20px;
flex-shrink: 0;
color: #092353;

font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: normal;


}

.tcr1{
    color: #092353;

font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 0px 4px 4px 0px;
border: 1px #DBDFE8;

background: #FFF;
}

.kalyanheading{
        color: #092353;

    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tranfer{
    color: var(--Secondary-label, #5972A3);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.salesorderadvance{
    color: #092353;

    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.layer1{
    width: 1264.5px;
    height: 64s.907px;
    flex-shrink: 0;
    fill: #F5F7FB;
}

.fulllayer{
width: 1284px;
height: 306.228px;
flex-shrink: 0;
fill: #D9E2E9;

stroke-width: 1px;
stroke: #EAEAEA;

opacity: 0.5;

}
/* .closetag{
    width: 37.956px;
height: 52px;
flex-shrink: 0;
border-radius: 0px 4px 4px 0px;
border: 1px #DBDFE8;

background: #FFF;
} */

.balanceaccount
{
 color: var(--Secondary-label, #5972A3);
text-align: right;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.balanceaccount-number{
    width: 94px;
height: 19px;
flex-shrink: 0;
color: #092353;

text-align: right;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.balanceweight
{
    width: 61px;
height: 14px;
flex-shrink: 0;
color: var(--Secondary-label, #5972A3);
text-align: right;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.balanceweightnumber{
    width: 69px;
height: 19px;
flex-shrink: 0;
color: #092353;

text-align: right;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.duedate{
    width: 49px;
height: 14px;
flex-shrink: 0;
color: var(--Secondary-label, #5972A3);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.duedatedate
{
    width: 86px;
height: 19px;
flex-shrink: 0;
color: #092353;

font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.customerdetails
{
    color: var(--Secondary-label, #5972A3);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.customername{
    color: #092353;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.hidelink{
    color: var(--Secondary-label, #5972A3);
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}

.box4{
    width: 156.756px;
    height: 58.907px;
    flex-shrink: 0;
    background-color:  #FFF;
    border: 1px;
    border-color: #DBDFE8;
    margin: 8px;

    stroke-width: 5x;
    stroke: #DBDFE8;
    
}

.boxhead{
    color: var(--Secondary-label, #5972A3);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 7px;   
    margin-top: 5px;
}

.boxheaddata{
    width: 76px;
    height: 15px;
    flex-shrink: 0;
    width: 490px;
    height: 15px;
    flex-shrink: 0;
    color: #092353;
    padding: 2px;
    
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.box5{
    width: 156.756px;
    height: 58.907px;
    background-color:  #FFF;
    border: 1px;
    border-color: #DBDFE8;
    margin: 8px;
 
}
.box6
{
        width: 171.528px;
    height: 58.907px;
    background-color:  #FFF;
    border: 1px;
    border-color: #DBDFE8;
    margin: 8px;

}
.box7
{
    width: 248.737px;
    height: 58.911px;
    flex-shrink: 0;
    background-color:  #FFF;
    border: 1px;
    border-color: #DBDFE8;
    margin: 8px;
}
.table{
    width: 1415px;
    height: 157.068px;
    flex-shrink: 0;
    fill: #F5F7FB;

stroke-width: 1px;
stroke: #DBDFE8;

opacity:0.9;
}

td{

color: #092353;

font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

thead{
color:  #5972A3;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.thead-color
{
    color:  #5972A3;
    font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.ekm
{
    width: 128px;
height: 20px;
flex-shrink: 0;
    color: #092353;

font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.activebutton
{
 display: inline-flex;
padding: 5px 11px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: #5EC869;
color: #114F14;

font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

footer1{
    width: 1366px;
height: 768px;
background: #F6F7FB;
}

.muziris
{
    color: #092353;

font-family: Roboto;
font-size: 10px;
font-style: normal;
font-weight: 400;

}

.layer2{
    width: 1264.5px;
    height: 70.907px;
    flex-shrink: 0;
    fill: #F5F7FB;
}
.cbox
{
    display: flex;
    width: 317px;
     height: 60px;
    padding: 6px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap:1px;
background-color: white;
border-radius: 10PX;

}

.cdetails{
    color: var(--Secondary-label, #5972A3);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}
.cdata
{
    color: #092353;

font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.img-not{
    width: 13px;
    height: 14px;
    flex-shrink: 0;

    color: #0749BE;

    font-family: "Font Awesome 6 Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.img-box{
    width: 20px;
    height: 19px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #D9DFE9;
    
    


}
html, body {
    height: 100%;
    margin: 0;
}
.sidebar-footer {
    margin-top: auto;
}
img.imglogo, img.imgjuelogo {
    width: 34px;
    height: 22px;
    flex-shrink: 0;
}

.navbar-location{
    color: var(--Primary-Label, #092353);
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.navbar-bell
{
    width: 16px;
height: 16px;
flex-shrink: 0;
}


.transfer
{
    color: var(--Secondary-label, #5972A3);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.card-box{
    width: 166px;
height: 52px;
flex-shrink: 0;
border-radius: 4px 0px 0px 4px;
border: 1px #DBDFE8;

background: #FFF;
}

.tcrsplit
{
    color: #092353;

font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.x-icon
{
    width: 37.956px;
    height: 52px;
    flex-shrink: 0;

    border-radius: 0px 4px 4px 0px;
border: 1px #DBDFE8;

background: #FFF;
}

.details{
    width: 1418px;
    /* height: 306.228px; */
    flex-shrink: 0;
}

